<section id="services" class="py-5">
	<div class="container">
		<h2 class="text-center mb-4">Nos Services</h2>
		<div class="row">
			<div class="col-md-4 text-center mb-4">
				<i class="fas fa-home fa-3x mb-2"></i>
				<h5 class="card-title">Location de Maisons</h5>
				<p>Profitez de maisons confortables et bien équipées pour vos vacances.</p>
			</div>
			<div class="col-md-4 text-center mb-4">
				<i class="fas fa-wifi fa-3x mb-2"></i>
				<h5 class="card-title">Internet</h5>
				<p>Fibre disponible dans chaque maison pour un accès rapide et fiable.</p>
			</div>
			<div class="col-md-4 text-center mb-4">
				<i class="fas fa-water fa-3x mb-2"></i>
				<h5 class="card-title">Piscine</h5>
				<p>Piscine privée et clôturée pour une sécurité maximale.</p>
			</div>
			<div class="col-md-4 text-center mb-4">
				<i class="fas fa-tshirt fa-3x mb-2"></i>
				<h5 class="card-title">Linge de Maison</h5>
				<p>Linge fourni, avec possibilité de location pour serviettes de piscine.</p>
			</div>
			<div class="col-md-4 text-center mb-4">
				<i class="fas fa-baby fa-3x mb-2"></i>
				<h5 class="card-title">Matériel Enfants</h5>
				<p>Mise à disposition gratuite de lits bébé, chaises hautes, petites baignoires.</p>
			</div>
			<div class="col-md-4 text-center mb-4">
				<i class="fas fa-gift fa-3x mb-2"></i>
				<h5 class="card-title">Panier d'Accueil</h5>
				<p>Panier d’accueil incluant le dîner et le petit déjeuner du lendemain d’arrivée.</p>
			</div>
			<div class="col-md-4 text-center mb-4">
				<i class="fas fa-info-circle fa-3x mb-2"></i>
				<h5 class="card-title">Documents Touristiques</h5>
				<p>Brochures et documentation sur les sites à visiter à disposition.</p>
			</div>
			<div class="col-md-4 text-center mb-4">
				<i class="fas fa-paw fa-3x mb-2"></i>
				<h5 class="card-title">Animaux</h5>
				<p>Les animaux très bien éduqués sont les bienvenus.</p>
			</div>
			<div class="col-md-4 text-center mb-4">
				<i class="fas fa-map-marked-alt fa-3x mb-2"></i>
				<h5 class="card-title">Activités Locales</h5>
				<p>Découvrez les meilleures activités et attractions locales. Nous vous fournirons des recommandations pour rendre votre séjour inoubliable.</p>
			</div>
		</div>
	</div>
</section>
