/*--------------------------------------------------------------
# Général
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ajoute box-sizing pour un meilleur contrôle des dimensions */
}

body {
  font-family: "Lora", serif;
  position: relative;
  height: 100%;
  text-decoration: none;
  background-color: #f4f4f4; /* Remplace par votre couleur de fond souhaitée */
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", serif;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
#navbar {
  position: fixed; /* Positionne la navbar de manière fixe */
  width: 100%; /* Prend toute la largeur de la fenêtre */
  z-index: 10; /* Assure que la navbar est au-dessus du diaporama */
}

#backgroundCarousel .carousel-item {
  height: 100vh; /* Hauteur de la fenêtre */
}

#backgroundCarousel img {
  object-fit: cover; /* Couvre tout l'espace sans déformation */
  height: 90vh; /* Hauteur de la fenêtre */
}

.navbar-custom {
  display: flex; /* Utilise Flexbox pour aligner les éléments */
  align-items: flex-start; /* Aligne les éléments en haut */
  justify-content: space-between; /* Espace entre les éléments pour une disposition fluide */
  padding: 10px 20px; /* Ajuste le rembourrage pour l'espacement souhaité */
  position: absolute; /* Positionne la navbar en haut de l'image */
  top: 0; /* Aligne la navbar en haut */
  left: 0; /* Aligne la navbar à gauche */
  right: 0; /* Aligne la navbar à droite */
}

.logo {
  height: 40px; /* Ajuste la hauteur du logo */
  margin-right: 10px; /* Espace entre le logo et le texte */
}

.navbar-nav {
  margin-top: 0; /* Retire tout espacement supérieur */
}

.nav-link {
  font-size: 18px; /* Augmente la taille de police des liens */
  color: white; /* Couleur des liens */
  transition: color 0.3s; /* Transition pour les liens */
}

.nav-link:hover {
  color: #f39c12; /* Couleur de survol */
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: #343a40; /* Couleur de fond du footer */
}

#footer .list-inline-item {
  margin: 0 15px; /* Espace entre les éléments de la liste */
}

#footer a {
  text-decoration: none; /* Pas de soulignement sur les liens */
}

#footer a:hover {
  text-decoration: underline; /* Souligner les liens au survol */
}
