<footer class="bg-dark text-white text-center py-4" id="footer">
	<div class="container">
		<p class="mb-0">&copy; 2024 Les maisons de Marie. Tous droits réservés.</p>
		<ul class="list-inline">
			<li class="list-inline-item">
				<a href="#home" class="text-white">Accueil</a>
			</li>
			<li class="list-inline-item">
				<a href="#services" class="text-white">Services</a>
			</li>
			<li class="list-inline-item">
				<a href="#about" class="text-white">À propos</a>
			</li>
			<li class="list-inline-item">
				<a href="#contact" class="text-white">Contact</a>
			</li>
		</ul>
	</div>
</footer>
