<footer class="bg-dark text-white text-center py-4" id="footer">
	<div class="container p-4">
		<div class="d-flex justify-content-between align-items-start mb-4">
			<div class="w-50 text-start">
				<p>Découvrez l'authenticité du Périgord dans nos maisons de charme du 18ème siècle, où le confort rencontre l'histoire.</p>
			</div>
			<div class="w-50 text-end">
				<p>Contact : +33 6 12 34 56 78</p>
				<p>Email : contact@lesmaisonsdemarie.fr</p>
				<p>Adresse : 123 Rue des Maisons, 24560 Castillonnes, France</p>
			</div>
		</div>
		<div class="text-center">
			<ul class="list-inline mb-0">
				<li class="list-inline-item">
					<a href="#home" class="text-white">Accueil</a>
				</li>
				<li class="list-inline-item">
					<a href="#services" class="text-white">Services</a>
				</li>
				<li class="list-inline-item">
					<a href="#about" class="text-white">À propos</a>
				</li>
				<li class="list-inline-item">
					<a href="#contact" class="text-white">Contact</a>
				</li>
				<li class="list-inline-item">
					<a href="#mentions-legales" class="text-white">Mentions légales</a>
				</li>
			</ul>
		</div>
		<hr
		class="text-white mb-3">
		<!-- Ligne de séparation -->
		<p class="mb-0">© 2024 Les Maisons de Marie. Tous droits réservés.</p>
		<hr class="text-white mt-3">
	</div>
</footer>
